.contact-elts {
  margin: 0 15% 0 15%;
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-variant: normal;
  padding: 0;
  .contact-msg {
    font-family: 'LatoWebSemibold';
    font-variant: small-caps;
    h4 {
      font-size: 3em;
    }
    p {
      font-size: 2em;
    }
    @media (max-device-width: 480px) {
      p {
        font-size: 3em;
      }
    }
  }

  .contact-form {
    position: relative;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 6px;
    padding: 50px;
    border-radius: 20px;

    .name {
      display: flex;
      justify-content: space-around;
      font-size: 200%;
    }
    .send-button {
      float: right;
      border-style: solid;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 6px;
      font-family: 'LatoWebSemibold' !important
    }
    .tf {
      //filter: blur(3px);

    }
  }
}

.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
