@import "../../../tools/fonts/Lato/latofonts.css";
@import "../../../tools/fonts/Icomoon/style.css";

.home-banner {
  background-color: #373277;
  padding: 47vh 0 47vh 0;
}

.container {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-variant: small-caps;
  font-family: 'LatoWebSemibold';
  font-size: 3em;
}

.content {
  padding: 25vh 0 25vh 0;
  margin: 0 auto;
}

// @media (max-device-width: 460px) {
//   .content {
//     padding: 5vh 0 5vh 0;
//     margin: 0 auto;
//   }
// }

body {
  margin: 0;
}

.home-who {
  color: green;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    border-radius: 50%;
    height: 400px;
    width: auto;
  }
  .bio {
    font-family: 'Galada';
    font-variant: normal;
    transform: rotate(-15deg);
  }
}



.home-what {
  background-color: #f2f2f2;
  .elements {
    margin: 0 10% 0 10%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    .content-text {
      max-width: 40%;
      font-family: 'LatoWebSemibold';
      font-size: 3em;
      font-variant: small-caps;
      p {
        font-size: 50%;
      }
    }
  }
}

.home-contact {
  background-color: #f2f2f2;
}
