@import "../../../tools/fonts/Lato/latofonts.css";

.home-banner {
  background-color: #373277;
  padding: 45vh 0 45vh 0;
}

.container {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-variant: small-caps;
  font-family: 'LatoWebSemibold';
  font-size: 3em;
}

body {
  margin: 0;
}
