.card {
    position: relative;
    display: inline-block;

    font-family: 'LatoWebSemiBold';
    font-size: 150%;
}

.card-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    left: 3%;
    width: 94%;
    height: 94%;
    bottom: 3%;
    opacity: 0;

    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity .5s;
}

.card:hover .card-caption {
    opacity: 1;
}

.card h1 {
  // margin-right: 50%;
  // transition: margin-right .5s;
  font-variant: small-caps;
  position: relative;
  left: -50%;
  transition: left .5s;
}

.card p {
  // margin-left: 50%;
  // transition: margin-left .5s;
  margin: 0 15% 0 15%;
  position: relative;
  right: -50%;
  transition: right .5s;
}

.card:hover h1 {
  // margin-right: 2%;
  // transition: margin-right .5s;
  // position: relative;
  left: 0%;
  transition: left .5s;
}

.card:hover p {
  margin: 0 15% 0 15%;
  // transition: margin-left .5s;
  right: 0%;
  transition: right .5s;
}

.card:hover .card-img {
    opacity: .7;
    transition: opacity .5s;
}

.card .card-img {
  transition: opacity .5s;
  width: 700px;
  height: 600px;
}
