.nav-button {
  font-variant: small-caps;
  font-family: 'LatoWebSemibold';
  font-size: 1.2em;
  color: grey;
  text-decoration: none;
  padding: 5px;
  border-style: solid;
  border-width: medium;
  border-color: transparent;
  z-index: 1000;
}

.app-bar-navigation {
  margin-left: auto;
  margin-right: 2em;
  justify-content: space-around;
  display: flex;
  width: 20%;
  align-items: center;
  overflow: auto;
  z-index: 1000;
}

.appBar {
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  //background-color: cyan;
}

.NavLink {
  text-decoration: none;
}
