.project {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-family: 'LatoWebSemiBold';
  .title {
    margin-left: 25%;
  }
  .description {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  .progress_bar {
    position: relative;
    top: 0px;
    right: 55px;
  }

  .technos {
    position: absolute;
    left: 15%;
    max-width: 30%;
  }

  .refs {
    position: absolute;
    left: 55%;
    max-width: 30%;
  }

  .arrow {
    text-decoration: none;
    color: black;
    font-size: 3em;
    position: absolute;
    height: 100%;
    top: 0;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #f2f2f2;
    }
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
}
