.slider {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
  &.inFromLeft {
    animation-name: slideIn-left;
    visibility: visible;
  }

  &.inFromRight {
    animation-name: slideIn-right;
    visibility: visible;
  }

  &.inFromTop {
    animation-name: slideIn-top;
    visibility: visible;
  }

  &.inFromBottom {
    animation-name: slideIn-bottom;
    visibility: visible;
  }
}

@keyframes slideIn-left {
  from {transform: translateX(-30%);}
  to {transform: translateX(0%);}
}

@keyframes slideIn-right {
  from {transform: translateX(30%);}
  to {transform: translateX(0%);}
}

@keyframes slideIn-top {
  from {transform: translateY(-30%);}
  to {transform: translateY(0%);}
}

@keyframes slideIn-bottom {
  from {transform: translateY(30%);}
  to {transform: translateY(0%);}
}
