

.resume {
  overflow: hidden;
  .banner {
    @media (min-device-width: 1800px) {
      background-position-y: -120px;
    }
    @media (max-device-width: 640px) {
      background-position-x: -750px;
    }
    .header {
    }
  }
  .elements {
    display: flex;
    justify-content: space-around;
    .content-text {
      max-width: 40%;
    }
  }

  @media (max-device-width: 480px) {
    .duo:nth-child(2n) {
      .duo__element--left {
        order: 2;
      }
    }
  }
}

.pdf {
  font-size: 200px;
  height: 200px;

  padding: 45px;
  border: 8px solid black;
  border-radius: 50%;
  p {
    margin: 0;
  }
  &:hover {
    background-color: #aaa;
    color: #eee;
    border-color: #ccc;
  }
  &Link {
    text-decoration: none;
    color: black;
    border-radius: 50%;
  }


}



.xpLogo {
  max-width: 45vw;
  max-height: 40vh;
}
