.contact-elts {
  margin: 0 15% 0 15%;
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-variant: normal;
  .contact-msg {
    max-width: 40%;
    p {
      font-size: 50%;
    }
  }
  .contact-form {
    max-width: 40%;
    position: relative;


    .name {
      display: flex;
      justify-content: space-around;
      font-size: 200%;
    }
    .send-button {
      float: right;
      border-style: solid;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 6px;
      width: 30%;
    }
    .tf {
      //filter: blur(3px);

    }
  }
}

.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
