.resume {
  .banner {
    background: #3b682c;
    .header {
    }
  }
  .elements {
    display: flex;
    justify-content: space-around;
    .content-text {
      max-width: 40%;
    }
    .pdf {
      font-size: 200px;
      height: 200px;

      padding: 45px;
      border: 8px solid black;
      border-radius: 50%;
      p {
        margin: 0;
      }
      &:hover {
        background-color: #aaa;
        color: #eee;
        border-color: #ccc;
      }
    }
    .pdfLink {
      text-decoration: none;
      color: black;
      border-radius: 50%;
    }
  }
}
